.skh-hidden {
  display: none !important;
}

.skh-text-center {
  text-align: center !important;
}

.skh-mt-4 {
  margin-top: var(--skh-space-4) !important;
}

.skh-mb-4 {
  margin-bottom: var(--skh-space-4) !important;
}

.skh-w-full {
  width: 100% !important;
}

.skh-mobile-only {
  display: none !important;
}

@media (max-width: 720px) {
  .skh-mobile-only {
    display: initial !important;
  }

  .skh-desktop-only {
    display: none !important;
  }
}
